.DraftEditor-root {
  border: 1px solid #000;
  background-color: white;
  height: 100px;
  width: 600px;
  overflow-y: auto;
  margin: 0 auto;
}

.DraftEditor-editorContainer,
.public-DraftEditor-content {
  height: 100%;
  font-weight: normal;
}
